footer {
    @extend %flex-between-padding;
    align-items: center;
    .fab {
        @extend %number;
        padding: 10px;
        margin: 0 10px;
        line-height: 0.7;
        cursor: pointer;
    }
}