footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    .fab {
        @extend %number;
        padding: 10px;
        margin: 0 10px;
        line-height: 0.7;
        cursor: pointer;
    }
}