header {
    @extend %flex-between-padding;
    .hamburguer {
        display: none;
        font-size: 30px;
        color: $hamburger-menu;
        cursor: pointer;
        @media screen and($tablet-breakpoint) {
            display: block;
        }
    }
    nav {
        @media screen and($tablet-breakpoint) {
            display: none;
        }
    }
}