@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

main {
    padding: 1rem;
    .section-banner {
        display: flex;
        align-items: center;
        @media screen and($tablet-breakpoint) {
            flex-direction: column;
        }
        .banner-text {
            width: 50%;
            line-height: 26px;
            @media screen and($tablet-breakpoint) {
                width: 100%;
            }
            h2 {
                @include paragraph(3.44rem, 4.36rem, 10px);
                font-family: 'Roboto', sans-serif;
                @media screen and($mobile-breakpoint) {
                    @include paragraph(3rem, 3.6rem, 6px);
                }
                span {
                    @include rectangle(42px);
                    @media screen and($mobile-breakpoint) {
                        height: 34px;
                    }
                }
            }
            &>p {
                padding: 20px 0;
                color: $color-primary;
            }
            &>div {
                display: flex;
                gap: 10px
            }
            a {
                padding: 10px;
                background-color: $bg-primary;
                border: $color-primary dotted 1px;
                border-radius: 8px;
            }
        }
        .bg-img {
            @include img-size(50%, 40vw);
            background: white url(../assets/wireframe.svg) no-repeat top right;
            background-size: contain;
            @media screen and($tablet-breakpoint) {
                @include img-size(100%, 70vh);
                background-position: center;
            }
            @media screen and($mobile-breakpoint) {
                height: 40vh;
            }
        }
    }
    .section-card {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px 5%;
        padding: 2rem 0;
        &>div {
            @extend %card;
            @media screen and ($mobile-breakpoint) {
                width: 95%;
                max-width: none;
            }
            p:nth-child(1) {
                border: black solid 1px;
                @extend %number;
            }
            h3 {
                padding: 1rem 0 0 0.5rem;
                span {
                    @include rectangle(12px);
                }
            }
            p:nth-child(3) {
                padding-left: 0.5rem;
                
            }
        }
    }
}