/* ***** Header ***** */

header {
    .batman-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 189px;
        background-color: $tertiary-color;
    }
    h1 {
        height: 60px;
        text-align: center;
        line-height: 60px;
        font-size: 35px;
        letter-spacing: 10px;
        background-color: $secondary-color;
        color: $primary-color;
    }
}




