main{
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 409px;
        background: $primary url('../img/bowl-and-pet-daities-on-green-background\ 1.svg') no-repeat;
        background-size: cover;
        @media screen and($mobile-breakpoint) {
            justify-content: flex-end;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            max-width: 95%;
            padding: 0;
            @media screen and($mobile-breakpoint) {
                display: block;
                padding-right: 12px;
                text-align: center;
            }

            h2{
                @include font(0.625rem, 5px, 1.875rem, 400, $tertiary, $secondary);
            }
            p{
                padding: 0.75rem 0;
                font-size: 1rem;
            }
            a{
                @include font(0.9375rem 1.4375rem, 5px, 16px, 400, $primary, $tertiary);
                margin-right: 1.5rem;
                @media screen and($tablet-breakpoint) {
                    margin-right: 0;
                }
            }
        }
    }
    .destacados-section{
        padding: 1.1875rem 3% 0.90625rem;
        .paw-image{
            display: block;
            margin: 0 auto;
            padding: 0.3125rem;
        }
        h2{
            @include font(0.3125rem 0.625rem 0.625rem, $border, 2.5rem, 700, none, $secondary);
            text-align: center;
        }
        &>p{
            display: flex;
            justify-content: center;
            @include font(0.625rem 0.625rem 1.5625rem, $border, 0.9375rem, 400, none, $products);
            a{
                padding: 0 15px;
            }
        }
    }
    .cards-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1.5625rem 0 2.4375rem;
        gap: 1.25rem;
        .card {
            width: 58vw;
            height: 70vw;

            min-width: 250px;
            min-height: 312px;
            text-align: center;
            background-color: $bg-card;
            @media screen and($mobile-breakpoint) {
                width: 25vw;
                height: 30vw;
            }
            img{
                width: 100%;
            }
            .product{
                color: $secondary;
            }
            .price{
                padding-bottom: 0.35rem;
                color: $primary;
            }
        }
    }
    .contact-section {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 2rem 0.5rem;
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 450px;
            padding: 0.4rem 0 0.4rem;
            color: $secondary;
            &>input{
                width: 80%;
            }
            h2{
                @include font(0 0 15px, $border, 25px, 700, none, none);
            }
        }
        .btn-container{
            align-self: stretch;
            padding: 2.25rem 0 2.2875rem;
            input{
                @include font(0.5rem, 2rem, 1rem, none, none, $tertiary);
                width: 32%;
                border: none;
                cursor: pointer;
            }
            input[type="reset"]{
                width: 49%;
                min-width: 84px;
                padding: 0.8rem 0.5rem;
                background-color: $quaternary;
            }
            input[type="submit"]{
                width: 49%;
                min-width: 84px;
                padding: 0.8rem 0.5rem;
                background-color: $primary;
            }
        }
    }
    input[placeholder] {
        @include font(0.875rem, 1rem, 0.625rem, none, $secondary, $placeholder-form);
        margin: 0.3125rem 0;
        outline: none;
        border: none;
    }
}