$primary: #f0a83e;
$secondary: #3c2313;
$tertiary: #ffffff;
$quaternary:#8A8787;

$bg-information: #222222;
$bg-card: #fbfaf6;

$color-information: #f3f3f3;
$placeholder-form: #ab9c9c;
$placeholder-email: #a0a0a0;

$border: #786960;

$tablet-breakpoint: "min-width: 768px";

/* 
$mobile-breakpoint: "max-width: 596px"; */