@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');

html, body, * {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.banner {
    background: pink url('../img/mountains.png') no-repeat 0px;
    background-size: cover;
    height: 250px;
}

.profile-picture {
    display:block;
    position: relative;
    top: 100px;
    width: 160px;
    margin: auto;
    border-radius: 180px;
    border: rgb(168, 129, 168) solid 2px;
}

h1 {
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 10px;
    background-color: rgb(168, 129, 168);
    color: #005677;
}

.subtitle {
    height: 30px;
    padding: 0 0 0 9px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 8px;
    background-color: rgb(168, 129, 168);
    color: #005677;
}

.sections-container {
    margin: 117px auto 163px auto;
    width: 72%;
}

span {
    font-weight: bold;
    font-style: italic;
}

.personal-data {
    padding: 0 0 0 60px;
}

.personal-data-item {
    padding: 5px 0;
}

dl {
    padding: 0 0 0 60px;
}

footer {
    height: 37px;
    text-align: center;
    background-color: rgb(168, 129, 168);
    color: #FFFFFF;
}

.foot-p {
    line-height: 37px;
}

.icon {
    font-size: 25px;
    padding-left: 10px;
    color: #764c77;
}