@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;&display=swap');
@import './base.css';
@import './header.css';
@import './footer.css';


.main-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 150px 0 150px 0;
    text-align: center;
}

.main-lg-rg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-login-register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.lg-rg-title {
    justify-self: flex-start;
    font-size: 4rem;
    font-weight: 700;
    color: #333333;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 43%;
    min-width: 200px;
    max-width: 460px;
} 

.login-form p {
    font-size: 1rem;
    text-align: center;
}

.login-form p a {
    color: #00669F;
}

input[type="text"], input[type="password"], 
input[type="email"], select {
    width: 100%;
    /* height: 40px; */
    padding: 9px;
    border: 1.53407px solid #000000;
    outline: none;
} 

.lb-inp {
    padding: 10px 0;
}

input[type="submit"], input[type="reset"] {
    width: 100%;
    padding: 8px 0;
    margin: 30px 0 20px;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: #1CD1B0;
    border-radius: 23.011px;
    border: none;
    cursor: pointer;
}

.btns-container { 
    text-align: center;
}

.btns-container input {
    width: 47%;
}

.btns-container input:nth-child(1) {
    background-color: #888888;
    color: #FFFFFF;
}

textarea {
    width: 100%;
    height: 100px;
}
.card {
    display: inline-block;
    width: 22%;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 16px 16px 0px 0px;
}

.card:hover {
    position: relative;
    top: -4px;
    box-shadow: 0px 10px 10px 0px #00000040;
}

.card-img-batman {
    position: relative;
    height: 193px;
    background: #F3F3F3 url('../img/Batman-bg.svg') no-repeat;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;
}

.card-img-maravilla {
    position: relative;
    height: 193px;
    background: #F3F3F3 url('../img/MujerMaravilla-bg.svg') no-repeat;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;
}

.card-img-superman {
    position: relative;
    height: 193px;
    background: #F3F3F3 url('../img/Superman-bg.svg') no-repeat;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;
}

.card-img-harley {
    position: relative;
    height: 193px;
    background: #F3F3F3 url('../img/HarleyQuinn-bg.svg') no-repeat;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;
}

.heart {
    position: absolute;
    top: 16px;
    left: 21px;
    font-size: 27px;
    color: #CC2424;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.avatar {
    position: absolute;
    bottom: 475px;
    width: 38%;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px 0px;
}

h3 {
    min-height: 164px;
    padding: 74px 0 16px 0;
    font-size: 2rem;
}

.p-card {
    min-height: 230px;
    padding: 16px 17px;
    font-size: 1rem;
    text-align: left;
}

.see-more {
    display: inline-block;
    padding: 15px 37px;
    margin: 16px 0 68px;
    font-size: 1.2rem;
    background-color: #00669F;
    color: #F3F3F3;
}

.more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: calc(50% - 75px);
    right: 32px;
    width: 80px;
    height: 80px;
    font-size: 3rem;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #00669F;
    cursor: pointer;
}

body {
    min-height: 100vh;
}

.main-harley {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    /* position: relative; */
    /* height: calc(100vh - 8.8rem - 24px); */
    background: rgb(197, 55, 126) url('../img/harley-bg.svg') no-repeat;
    background-size: cover;
}

.main-harley>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 35%;
    min-width: 300px;
    /* height: 400px; */
    border-radius: 45px;
    background-color: #f3f3f3;
}

.guns {
    padding: 0 0 5rem;
}

.heart {
    position: absolute;
}

.main-harley p {
    padding: 10px 20px 20px;
    font-size: 0.9rem;
}

.main-harley h2 {
    padding-top: 1.875rem;
}

.avatar-see-more {
    position: absolute;
    top: -60px;
    border-radius: 50%;
}

.come-back {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center ;
    background-color: #2C0187;
    color: #F3F3F3;
    border-radius: 0 0 45px 45px;
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
    .card {
        width: 35%;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 90%;
    }

    .card:hover {
        top: 0;
    }

    .github {
        position: relative;
        right: 0;
    }
    
    footer {
        justify-content: space-around;
    }
}