input[type="checkbox"] {
    display: none;
}

.fa-bars, .fa-times {
    text-align: end;
    font-size: 1.375rem;
    color: #FFFFFF;
}

nav ul {
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 60px;
    
}

nav ul {
    height: 0px;
    width: 100%;
    background-color: #3C2313;
    transition: height 1s ease-in-out;
}

nav li {
    padding: 0 0 0 5px;
    border-bottom: 1px solid #AB9C9C;
}

nav a {
    display: inline-block;
    width: calc(100% - 14.67px);
    padding: 15px 0.625rem 15px 0.3rem;
    color: #AB9C9C;
}

nav ul li::before {
    color: #AB9C9C;
}


input[type="checkbox"]:checked ~ label .fa-bars {
    display: none;
}

input[type="checkbox"]:not(:checked) ~ label .fa-times{
    display: none;
}

input[type="checkbox"]:checked ~ nav ul {
    height: 188px;
    width: 100%;
    background-color: #3C2313;
    color: #AB9C9C;
    transition: height 1s ease-in-out;
}

@media screen and (min-width: 768px) {
    .fa-bars, .fa-times {
        display: none;
    }

    nav ul {
        flex-direction: row;
        width: auto;
        height: auto;
        background-color: transparent;
    }

    nav li {
        border: none;
    }

    nav a {
        color: white;
    }
    
    nav ul li::before {
        color: white;
    }
    
}