@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
header input[type="checkbox"] {
  display: none;
}

header input[type="checkbox"]:checked ~ label .fa-bars {
  display: none;
}

header input[type="checkbox"]:not(:checked) ~ label .fa-times {
  display: none;
}

header input[type="checkbox"]:checked ~ nav ul {
  height: 188px;
  width: 100%;
  background-color: #3c2313;
  color: #ab9c9c;
  /* transition: height 1s ease-in-out; */
}

header .fa-bars, header .fa-times {
  text-align: end;
  font-size: 1.375rem;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  header .fa-bars, header .fa-times {
    display: none;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  top: 60px;
  overflow: hidden;
  height: 0px;
  width: 100%;
  background-color: #3c2313;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
}

@media screen and (min-width: 768px) {
  header nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: initial;
    width: auto;
    height: auto;
    background-color: transparent;
  }
}

header nav ul li {
  padding-left: 5px;
  border-bottom: 1px solid #ab9c9c;
  color: #ab9c9c;
}

header nav ul li::before {
  content: "\f1b0";
  font-size: 0.9rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  header nav ul li {
    border: none;
    color: #ffffff;
  }
}

header nav ul li a {
  width: calc(100% - 14.67px);
  padding: 15px 0.625rem 15px 0.3rem;
  font-size: 0.8125rem;
  font-weight: 400;
}

/* @mixin paragraph($size, $l-height, $let-spacing) {
    font-size: $size;
    line-height: $l-height;
    letter-spacing: $let-spacing;
} */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  color: inherit;
}

img {
  max-width: 100%;
}

header {
  background-color: #f0a83e;
}

header div:nth-child(1) {
  display: none;
  padding: 4px 2.5rem 4px 5.625rem;
  font-size: 0.625rem;
  font-weight: 400;
  background: #222222;
  color: #f3f3f3;
}

@media screen and (min-width: 768px) {
  header div:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

header .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.1875rem 2.5rem 1.1875rem 2.5rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo h1, .logo h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .logo h1, .logo h2 {
    font-size: 1.5rem;
  }
}

.logo img {
  width: 0.8rem;
}

@media screen and (min-width: 768px) {
  .logo img {
    width: 1.2rem;
  }
}

.front {
  color: #3c2313;
}

.cat-dog-foot {
  color: #f0a83e;
}

main .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 409px;
  background: #f0a83e url("../img/bowl-and-pet-daities-on-green-background 1.svg") no-repeat;
  background-size: cover;
}

@media screen and (min-width: 580px) {
  main .banner {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

main .banner div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 95%;
  padding: 0;
}

@media screen and (min-width: 580px) {
  main .banner div {
    display: block;
    padding-right: 12px;
    text-align: center;
  }
}

main .banner div h2 {
  padding: 0.625rem;
  border-radius: 5px;
  font-size: 1.875rem;
  font-weight: 400;
  background-color: #ffffff;
  color: #3c2313;
}

main .banner div p {
  padding: 0.75rem 0;
  font-size: 1rem;
}

main .banner div a {
  padding: 0.9375rem 1.4375rem;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  background-color: #f0a83e;
  color: #ffffff;
  margin-right: 1.5rem;
}

@media screen and (min-width: 768px) {
  main .banner div a {
    margin-right: 0;
  }
}

main .destacados-section {
  padding: 1.1875rem 3% 0.90625rem;
}

main .destacados-section .paw-image {
  display: block;
  margin: 0 auto;
  padding: 0.3125rem;
}

main .destacados-section h2 {
  padding: 0.3125rem 0.625rem 0.625rem;
  border-radius: #786960;
  font-size: 2.5rem;
  font-weight: 700;
  background-color: none;
  color: #3c2313;
  text-align: center;
}

main .destacados-section > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.625rem 0.625rem 1.5625rem;
  border-radius: #786960;
  font-size: 0.9375rem;
  font-weight: 400;
  background-color: none;
  color: #666666;
}

main .destacados-section > p a {
  padding: 0 15px;
}

main .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.5625rem 0 2.4375rem;
  gap: 1.25rem;
}

main .cards-container .card {
  width: 58vw;
  height: 70vw;
  min-width: 250px;
  min-height: 312px;
  text-align: center;
  background-color: #fbfaf6;
}

@media screen and (min-width: 580px) {
  main .cards-container .card {
    width: 25vw;
    height: 30vw;
  }
}

main .cards-container .card img {
  width: 100%;
}

main .cards-container .card .product {
  color: #3c2313;
}

main .cards-container .card .price {
  padding-bottom: 0.35rem;
  color: #f0a83e;
}

main .contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 2rem 0.5rem;
}

main .contact-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 0.4rem 0 0.4rem;
  color: #3c2313;
}

main .contact-section form > input {
  width: 80%;
}

main .contact-section form h2 {
  padding: 0 0 15px;
  border-radius: #786960;
  font-size: 25px;
  font-weight: 700;
  background-color: none;
  color: none;
}

main .contact-section .btn-container {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  padding: 2.25rem 0 2.2875rem;
}

main .contact-section .btn-container input {
  padding: 0.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: none;
  background-color: none;
  color: #ffffff;
  width: 32%;
  border: none;
  cursor: pointer;
}

main .contact-section .btn-container input[type="reset"] {
  width: 49%;
  min-width: 84px;
  padding: 0.8rem 0.5rem;
  background-color: #8A8787;
}

main .contact-section .btn-container input[type="submit"] {
  width: 49%;
  min-width: 84px;
  padding: 0.8rem 0.5rem;
  background-color: #f0a83e;
}

main input[placeholder] {
  padding: 0.875rem;
  border-radius: 1rem;
  font-size: 0.625rem;
  font-weight: none;
  background-color: #3c2313;
  color: #ab9c9c;
  margin: 0.3125rem 0;
  outline: none;
  border: none;
}

footer {
  background: #3c2313;
}

footer .foot-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 29px 10px 23px;
  border-radius: #786960;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: #f0a83e;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  footer .foot-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px 47px 10px 23px;
  }
}

footer .foot-top p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .foot-top p::before {
  content: "\f0e0";
  padding: 0 0.625rem 0 0;
  border-radius: #786960;
  font-size: 2rem;
  font-weight: 400;
  background-color: none;
  color: none;
  font-family: "Font Awesome 5 Free";
}

@media screen and (min-width: 768px) {
  footer .foot-top p {
    width: 100%;
  }
}

footer .foot-top form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 8px 0;
  gap: 0.5rem;
}

@media screen and (min-width: 480px) {
  footer .foot-top form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .foot-top form input {
  width: 100%;
}

footer .foot-top form > input[type="text"] {
  min-width: 147px;
  max-width: 410px;
  padding: 0.75rem;
  border-radius: 15px;
  font-size: 0.625rem;
  font-weight: 400;
  background-color: #ffffff;
  color: none;
  outline: none;
  border: none;
}

footer .foot-top input::-webkit-input-placeholder {
  color: #a0a0a0;
}

footer .foot-top input:-ms-input-placeholder {
  color: #a0a0a0;
}

footer .foot-top input::-ms-input-placeholder {
  color: #a0a0a0;
}

footer .foot-top input::placeholder {
  color: #a0a0a0;
}

footer .foot-top input[type="submit"] {
  padding: 0.75rem;
  border-radius: 15px;
  font-size: 0.625rem;
  font-weight: none;
  background-color: #3c2313;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  footer .foot-top input[type="submit"] {
    width: 100px;
    min-width: 100px;
  }
}

footer .foot-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem 4.6rem;
}

@media screen and (min-width: 768px) {
  footer .foot-center {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .foot-center i {
  padding: 0.75rem;
  border-radius: 50px;
  font-size: 1.875rem;
  font-weight: none;
  background-color: #8A8787;
  color: #ffffff;
  border: 5px solid #786960;
}

footer .foot-center .location-icon {
  border: 5px solid #786960;
  padding: 0.75rem 1rem;
}

footer .foot-center li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 0;
}

footer .foot-center li i {
  margin-right: 25px;
}

footer .foot-center li .contact {
  padding: 0;
  border-radius: 0;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: none;
  color: #ffffff;
}

footer .foot-center li .contact-value {
  padding: 0;
  border-radius: 0;
  font-size: 0.625rem;
  font-weight: 700;
  background-color: none;
  color: #8A8787;
}

footer > p {
  padding: 0.5rem;
  border-radius: none;
  font-size: 0.625rem;
  font-weight: none;
  background-color: #222222;
  color: #ffffff;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */